@import "./font.css";
/*======================global_style_for_all_browsers============================*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    outline: none!important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}

button, a {
    cursor: pointer;
    text-decoration: none!important;
    border: 0;
    display: inline-block;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat_regular';
}

.block_title h2 {
    font-family: 'Montserrat_bold';
    font-size: 40px;
    color: #212529;
    margin-bottom: 16px;
    text-transform: uppercase;
    text-align: center;
}

.block_title h5 {
    font-family: 'DroidSans_regular';
    font-size: 16px;
    color: #6c757d;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.3px;
}

.btn_efect, .btn_efect {
    position: relative;
    overflow: hidden;
}

.btn_efect:before, .btn_efect:before {
    content: "";
    position: absolute;
    width: 3em;
    height: 100%;
    top: 0;
    left: -35%;
    -webkit-transform: skewX(-45deg) translateX(0);
    -ms-transform: skewX(-45deg) translateX(0);
    transform: skewX(-45deg) translateX(0);
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    visibility: hidden;
}

.btn_efect:hover:before, .btn_efect:hover:before {
    left: 130%;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    visibility: visible;
}

/*===================Header==============*/

/*================Header-Nav=============*/

header {
    min-height: 758px;
    background-image: url('../img/Header_and_Footer/header_bg.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 32px;
}

.logo {
    font-family: 'Kushan_regular';
    font-size: 28px;
    color: #fed136;
}

.header_nav_menu_block {
    max-width: 471px;
    width: 100%;
}

.header_nav_menu_block ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header_nav_content_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav_menu_block ul li a {
    font-family: 'Montserrat_regular';
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.header_nav_menu_block ul li a:hover {
    color: #fed136;
}

.header_logo_block {
    display: flex;
    justify-content: space-between;
}

/*==============Header-Content============*/

.header_content {
    margin-top: 225px;
}

.header_content h3 {
    font-family: 'DroidSans_regular';
    font-size: 40px;
    color: #fff;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.7px;
}

.header_content h1 {
    font-family: 'Montserrat_bold';
    font-size: 75px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 13px;
}

.header_content button {
    max-width: 224px;
    width: 100%;
    min-height: 69px;
    background: #FED136;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    text-transform: uppercase;
    display: block;
    margin: 42px auto 0;
    font-family: 'Montserrat_bold';
    font-size: 18px;
    color: #fff;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.header_content button:hover {
    background: #fff;
    color: #000;
}

.services_block__items_icon {
    width: 126px;
    height: 126px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #FED136;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.services_block__items_icon i {
    font-size: 64px;
    color: #fff;
}

.services_block {
    padding: 149px 0 120px;
}

.services_block_icon_block {
    padding-top: 76px;
}

.services_block_subtitle {
    font-family: 'Montserrat_bold';
    font-size: 24px;
    color: #212529;
    text-align: center;
    line-height: 1.2;
    margin: 16px 0px;
}

.services_block__items p {
    font-family: 'RobotoSlab_regular';
    color: #6c757d;
    font-size: 16px;
    text-align: center;
    line-height: 1.75;
}

.services_block__items {
    max-width: 380px;
    margin: 0 auto 50px;
}

/*====================Portfolio=================*/

.portfolio_block {
    background: #F8F9FA;
    padding: 144px 0 150px 0;
}

.portfolio_title h3 {
    font-family: 'Montserrat_bold';
    font-size: 24px;
    color: #212529;
    text-align: center;
    line-height: 1.2;
}

.portfolio_title h5 {
    font-family: 'DroidSans_regular';
    font-style: italic;
    font-size: 16px;
    color: #6c757d;
    text-align: center;
    margin-top: 4px;
    letter-spacing: .5px;
}

.portfolio_content {
    margin-top: 74px;
}

.portfolio__items_content {
    max-width: 350px;
    margin: auto;
    min-height: 368px;
    background: #fff;
    margin-bottom: 30px;
}

.portfolio_img img {
    vertical-align: middle;
}

.portfolio_title {
    padding-top: 25px;
}

/*===============About-block===============*/

.about_block_icons {
    width: 170px;
    height: 170px;
    border: 7px solid #e9ecef;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    background: #FED136;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_block_icons img {
    height: 100%;
    width: 100%;
}

.about_block_row {
    position: relative;
    min-height: 170px;
    margin-bottom: 118px;
}

.about_block_description {
    max-width: 455px;
}

.about_block_row:nth-child(odd) .about_block_description {
    text-align: right;
    margin-right: auto;
    padding-right: 20px;
}

.about_block_row:nth-child(even) .about_block_description {
    text-align: left;
    margin-left: auto;
    padding-left: 20px;
}

.about_block_content {
    position: relative;
    margin-top: 74px;
}

.about_block_content::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #E9ECEF;
}

.about_block_icons h5 {
    font-family: 'Montserrat_bold';
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    width: 80px;
}

.about_block {
    padding: 150px 0 0 0;
}

.about_block_description h3 {
    font-family: 'Montserrat_bold';
    font-size: 24px;
    color: #212529;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.about_block_description p {
    font-family: 'RobotoSlab_regular';
    color: #6c757d;
    line-height: 1.75;
    max-width: 335px;
}

.about_block_row:nth-child(odd) .about_block_description p {
    margin-left: auto;
}

.about_block_row:nth-child(even) .about_block_description p {
    margin-right: auto;
}

/*================Our Team==================*/

.our_team {
    background: #F8F9FA;
    padding: 197px 0 165px 0;
}

.team_items_photo {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.our_team_name {
    text-align: center;
    margin-top: 25px;
}

.our_team_name h3 {
    font-family: 'Montserrat_bold';
    font-size: 24px;
    color: #212529;
    text-transform: capitalize;
}

.our_team_name h5 {
    font-family: 'RobotoSlab_regular';
    color: #6c757d;
    margin-bottom: 15px;
    line-height: 1.75;
}

.our_team_content {
    margin-top: 75px;
}

.our_team__items {
    margin-bottom: 50px;
}

.our_team_description p {
    font-family: 'RobotoSlab_regular';
    font-size: 16px;
    color: #6c757d;
    text-align: center;
    line-height: 1.75;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 15px;
}

/*===============Partners=================*/

.partners {
    padding: 47px 0 44px;
}

.partners_items {
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
}

/*===============Contact Us============*/

.contact_us {
    min-height: 799px;
    background-image: url('../img/Header_and_Footer/contact_us.jpg');
    background-size: cover;
    background-position: center;
    padding: 150px 0 0;
}

.contact_us .block_title h2 {
    color: #fff;
}

.contact_us_inp_block input {
    font-family: 'Montserrat_bold';
    color: #495057;
    font-size: 16px;
    max-width: 540px;
    width: 100%;
    height: 66px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-bottom: 25px;
}

.contact_us_inp_block {
    display: flex;
    flex-direction: column;
    margin-top: 74px;
    max-width: 540px;
    width: 100%;
}

.contact_us_inp_block textarea {
    font-family: 'Montserrat_bold';
    color: #495057;
    font-size: 16px;
    max-width: 540px;
    width: 100%;
    height: 248px;
    /*===========I added max-height so that the resize does not work===============*/
    max-height: 248px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.contact_form_block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact_us_btn {
    font-family: 'Montserrat_bold';
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    background: #fed136;
    width: 231px;
    height: 69px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/*=============footer=============*/

.social_block a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #212529;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.social_block {
    max-width: 174px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.footer_content {
    padding: 27px 0;
}

.foother_description {
    font-family: 'Montserrat_regular';
    color: #212529;
    font-size: 14.4px;
    display: block;
    margin: 11px;
    text-align: center;
}

.footer_right_link {
    text-align: center;
}

.footer_right_link a {
    font-family: 'Montserrat_regular';
    text-align: center;
    color: #fed136;
    font-size: 15px;
    margin-top: 9px;
}